@import "../style.scss";

.Messenger {
    @include themify($themes) {
        display: flex;
        background-color: themed("bg-soft");

        .ChatMember {
            flex: 4;
        }

        .Chatbox {
            display: flex;
        }
    }
}