@import "../../style.scss";

.Messenger {
    @include themify($themes) {
        display: flex;
        background-color: themed("bgSoft");
        // height: calc(100vh - 90px);

        .Chatmember {
            flex: 4;

            .SearchFriends {
                width: 80%;
                padding: 10px 0px;
                border: none;
                background-color: themed("bgSoft");
                outline: none;
                border-bottom: solid 1px;

            }
        }

        .Chatbox {
            flex: 6;
        }

        .Memberwraps,
        .Boxwraps {
            padding: 20px;
        }
    }
}