@import "../../style.scss";

.createPost {
    @include themify($themes) {

        display: flex;
        align-items: center;

        .postButton {
            padding: 5px 12px;
            background-color: themed("bg");
            color: themed("textColor");
            border: 2px solid darken(themed("bg"), 10%);
            border-radius: 20px;
            cursor: pointer;

            &:hover {
                background-color: lighten(themed("bg"), 5%);
            }

            &:active {
                background-color: darken(themed("bg"), 5%);
            }
        }
    }
}